div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
  height: 50px;
  text-align: center;
}
.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
