@{
  Layout = "_Layout";
}
<h1>Project Name or some other header</h1>
<p>@Html.ActionLink("View All Clients", "Index", "Clients")</p>
<p>@Html.ActionLink("View All Stylist Categories", "Index", "Stylists")</p>