@{
  Layout = "_Layout";
}
<h1 class="jumbotron">Eau Claire's Salon</h1>
<p>@Html.ActionLink("View All Stylists", "Index", "Stylists") | @Html.ActionLink("Add a new stylist","Create","Stylists")</p>
<p>@Html.ActionLink("View All Clients", "Index", "Clients") | @Html.ActionLink("Add a new client","Create","Clients")</p>