@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.SomeProperty, new {@class="form-label"})
  @Html.TextBoxFor(model => model.SomeProperty, new {@class = "form-control", type="text", id="some-property"})

    <input type="submit" value="Add Client" class="btn btn-outline-success" />
}
<p>@Html.ActionLink("Back to All Clients", "Index")</p>